/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video, input {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font-weight: normal;
   vertical-align: baseline;
 }
 
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, menu, nav, section {
   display: block;
 }
 
 body {
   line-height: 1;
   font-size: 14px;
 }
 
 blockquote, q {
   quotes: none;
 }
 
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: none;
 }
 
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 
 /* custom */
 html,body{
   -webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 隐藏滚动条 */
   min-height: 100%;
   background: #fff;
 }
 @media screen and (min-width: 900px) {
   html {
     font-size: 200px!important;
   }
   #app {
     width: 800px!important;
     margin: 0 auto;
   }
 }
 #app {
   font-family: "PingFangSC",'Avenir', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: start;
   color: #333333;
   font-size: .14rem;
   min-height: 100%;
   background: #f0f5f4;
 }
 li {
   list-style: none;
 }
 input::-webkit-input-placeholder { color: #bfd3cd }    /* 使用webkit内核的浏览器 */
 input:-moz-placeholder { color: #bfd3cd }                  /* Firefox版本4-18 */
 input::-moz-placeholder { color: #bfd3cd }                  /* Firefox版本19+ */
 input:-ms-input-placeholder { color: #bfd3cd }          /* IE浏览器 */
 ::-webkit-scrollbar {
   display: none;
 }
 input, button {
   outline: none;
 }
 